
<%- include('partials/nav'); %>
<% let deleteList= function (i) { %>
 <% data.splice(i,1)  } %>
<% let calIntake=0,protIntake=0,carbIntake=0,k=1,count=0; %>

 <div class="container">
    
    <table class="table-striped">
       
        <tr>
          <td>Name of the Food</td>
          <td>Serving Size</td>
          <td>Calories</td>
          <td>Protein</td>
          <td>Carbohydrates</td>
        </tr>
      
        
<% for (let i=0;i<data.length;i++) { %>
<% calIntake+= Number(data[i].kcal); protIntake+= Number(data[i].protein); carbIntake+= Number(data[i].carbs) %>



    <tr>
    <td>  <%= data[i].name %></td> <td><label for="gram"></label> 
      <form action="/calculus" method="POST">
      <select name="<%=count %>" id="<%=count %>">
     <% // check if current value is multiplied by 2-5 of original value, then select corresponding option %>
        <option value="1">100</option>
        <option value="2" <%= data[idReq].kcal == 2*data[i].kcal/optionReq ? 'selected' : ''%>>200</option>
        <option value="3" <%= data[idReq].kcal == 3*data[i].kcal/optionReq  ? 'selected' : ''%>>300</option>
        <option value="4"<%= data[idReq].kcal == 4*data[i].kcal/optionReq ? 'selected' : ''%>>400</option>
        <option value="5"<%= data[idReq].kcal == 5*data[i].kcal/optionReq ? 'selected' : ''%>>500</option>
       
      </select> <input type="submit" value="submit" class="btn btn-info"></td> 
    </form>
      <td id="headlines" class="<%=count %>">  <%= data[i].kcal %> </td> <td id="headlines" class="<%=count %>"><%= data[i].protein %></td><td id="headlines" class="<%=count %>"><%= data[i].carbs %></td>
      <td id="linker"> <a href="/calculus/<%=i%>" class="btn btn-danger">Delete</a> </td>  
    </tr>
    <% count++; %>
    <% } %>
    <h3 > Your current Nutrition intake contains <%= Math.floor(calIntake) %> kcal, <%= Math.floor(protIntake) %>g Protein %> and <%=Math.floor(carbIntake)%>g Carbohydrates   </h2>   
    
   
    
     
      </table>
    </div>
    <div class="container" style="text-align: center;">
      
    <form id="search" action="/" method="GET">
      <input class="form-control" type="text"  placeholder="Search for more food" autocomplete="off" name="search"  required autofocus>
      <input type="submit" class="btn btn-primary">
      </form>
    </div>
    </body>
    </html>