
 <% const arrData=[]; arrData.push(data); %>
 <% let str=JSON.stringify(data); %>     <%-  localStorage.setItem(arrData.length,str); %>
 <h2> Your current calory intake today is <%= data.kcal %>   </h2>

  <form action="/information" method="GET">
    <input type="text"  placeholder="Search for your food" name="search" required>
    <input type="submit">
    </form>
    <table>
       
        <tr>
          <td>Name of the Food</td>
          <td>Serving Size</td>
          <td>Calories</td>
          <td>Protein</td>
          <td>Carbohydrates</td>
        </tr>
        
<% arrData.forEach((data)=> { %>

    <tr>
    <td>  <%= data.name %></td> <td> 100g </td> <td>
      <%= data.kcal+ "kcal" %> </td> <td><%= data.protein %></td><td><%= data.carbs %></td>
        
    </tr>
   
    <% }) %>
   
        
     
        
      </table>

