
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calory Calculator</title>
  <style>
      
    table
    {
      table-layout: fixed;
    }
    td
    {    
      width: 200px;
    }
    #headlines
    {
      width: 200px;
    }
    #search
    {
      margin: 20px;     
    }
    .form-control
    {
      display: inline-block;
      width: 300px;
    }
    .h3_header
    {
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5em;
    }
 
    
    
    
  </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Calory Calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ml-auto" id="right">
        <li class="nav-item active">
          <a class="nav-link " href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="/calculus">Current Food</a>
        </li>
             
      </ul>
    </div>
  </nav>  


<% let calIntake=0,protIntake=0,carbIntake=0,k=1,count=0; %>

 

 <div class="container">
    
    <table class="table-striped">
       
        <tr>
          <td>Name of the Food</td>
          <td>Serving Size</td>
          <td>Calories</td>
          <td>Protein</td>
          <td>Carbohydrates</td>
        </tr>
      
        
<% for (let i=0;i<data.length;i++) { %>
<% calIntake+= Number(data[i].kcal); protIntake+= Number(data[i].protein); carbIntake+= Number(data[i].carbs) %>


    <tr>
    <td>  <%= data[i].name %></td> <td><label for="gram"></label> 
      <form action="/calculus" method="POST">
        
      <select name="<%=count %>" id="<%=count %>">
     <% // check if current value is multiplied by 2-5 of original value, then select corresponding option %>
  
        <option value="1">100</option>
        <option value="2"  <%= data[i].kcal == 2*data[i].kcal/optionReq[i] ? 'selected' : ''%>>200</option>
        <option value="3" <%= data[i].kcal == 3*data[i].kcal/optionReq[i]  ? 'selected' : ''%>>300</option>
        <option value="4"<%= data[i].kcal == 4*data[i].kcal/optionReq[i] ? 'selected' : ''%>>400</option>
        <option value="5"<%= data[i].kcal == 5*data[i].kcal/optionReq[i] ? 'selected' : ''%>>500</option>
       
      </select> <input type="submit" value="submit" class="btn btn-info"></td> 
    </form>
    
      <td id="headlines" class="<%=count %>">  <%= data[i].kcal %> </td> <td id="headlines" class="<%=count %>"><%= data[i].protein %></td><td id="headlines" class="<%=count %>"><%= data[i].carbs %></td>
      <td id="linker"> <form action="/delete" method="POST"> <input type="hidden" name="search" value="<%= i %>"> <button type="submit" class="btn btn-danger">Delete</button> </form></td>  
    </tr>
    <% count++; %>
    <% } %>
    <h3 > Your current Nutrition intake contains <%= Math.floor(calIntake) %> kcal, <%= Math.floor(protIntake) %>g Protein %> and <%=Math.floor(carbIntake)%>g Carbohydrates   </h2>   
    
   
    
     
      </table>
    </div>
    <div class="container" style="text-align: center;">
      
    <form id="search" action="/" method="GET">
      <input class="form-control" type="text"  placeholder="Search for more food" autocomplete="off" name="search"  required autofocus>
      <input type="submit" class="btn btn-primary">
      </form>
    </div>
  
    </body>
    </html>