<h1> Results for <%= food[0].toUpperCase()+ food.slice(1) %> </h1>
<% if (dataSet.length===0) { %> <h1>No results found sorry!</h1>  <% } %>

<table>
  <% if(dataSet.length===0 !== true) { %>
  <tr>
    <td>Name of the Food</td>
    <td>Serving Size</td>
    <td>Calories</td>
    <td>Protein</td>
    <td>Carbohydrates</td>
  </tr>

<% dataSet.forEach((data)=> { %>
 
  <tr>
  <td>  <%= data.shrt_desc %></td> <td> 100g </td> <td>
    <%= data.energ_kcal+ "kcal" %> </td> <td><%= data.protein %></td><td><%= data.carbohydrt %></td> <td> <button>Add</button></td>

   </tr> 
  
  <% }) } %>
  
</table>

<form action="/" method="GET">
  <input type="submit" value="Search for more food">
</form>