<%- include('partials/nav'); %>


<% if (dataSet == undefined) { %> <% return 1; %> <% } %>
<%  if (dataSet.length===0) { %> <div class="container"><h1 style="text-align: center;">No results found sorry!</h1></div>  <% } %>

<div class="container">
  <h3 style="text-align: center;"> Search for your food to get your kcal intake</h1>
<table class="table-striped">
  <% if(dataSet.length == 0 !== true) { %>
  <tr>
    <td>Name of the Food</td>
    <td>Serving Size</td>
    <td>Calories</td>
    <td>Protein</td>
    <td>Carbohydrates</td>
  </tr>

<% dataSet.forEach((data)=> { %>

  <tr>
  <td>  <%= data.shrt_desc %></td> <td> 100g </td> <td>
    <%= data.energ_kcal+ "kcal" %> </td> <td><%= data.protein %></td><td><%= data.carbohydrt %></td>
     <td id="submit"> 
      <form action="/calculus" method="POST">
        <input type="hidden" name="name" value="<%= data.shrt_desc %>">
        <input type="hidden" name="kcal" value="<%= data.energ_kcal %>">
        <input type="hidden" name="protein" value="<%= data.protein %>">
        <input type="hidden" name="carbs" value="<%= data.carbohydrt %>">
        <button type="submit" class="btn btn-info">Submit</button>
     </form>
      </td>

   </tr> 
   <% }) } %>
</table>
</div>
<div class="container" style="text-align: center;">
  <form id="search" action="/" method="GET">
  <input class="form-control" type="text"  placeholder="Search for your food" autocomplete="off" name="search" required autofocus>
  <button class="btn btn-primary"  type="submit">Search</button>
  </form>
  </div>

</body>
</html>